@media screen and (max-width: 1540px) {
    .main__slider {
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
        height: 611px;
    }
    .main__slider__item {
        width: 100% !important;
        transform: scale(1);
        height: 611px !important;
    }
    .main-slider-next {
        right: -44px;
    }
    .main-slider-prev {
        left: -44px;
    }
    .main__slider__item__container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .brands-slider-next {
        right: -20px;
    }
    .brands-slider-prev {
        left: -20px;
    }
    /*Карта товара*/
    .good-card-btn-next {
        right: -25px;
    }
    .good-card-btn-prev {
        left: -25px;
    }
    /*Карта товара*/

}
@media screen and (max-width: 1280px) {
    .wrapper {
        width: 620px;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .header-top__nav__lists {
        display: none;
    }
    .header__bottom-container__right_search {
        display: none;
    }
    .header__bottom-container__left {
        display: none;
    }
    .header__bottom-container__right_search-mobile {
        display: block;
        margin-left: auto;
    }
    .header-top__container {
        justify-content: normal;
    }
    .header__bottom-container__right {
        width: 100%;
        justify-content: space-between;
    }
    .header__bottom-container__right__search-block {
        display: none;
    }
    .mobile-menu {
        display: none;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 501;
        overflow-y: auto;
    }
    .mobile-menu__content {
        padding-top: 83px;
        padding-bottom: 83px;
    }
    .mobile-menu__content__cross {
        top: 29px;
        right: calc(50% - 280px);
        cursor: pointer;
        position: absolute;
    }
    .mobile-menu__content_main {
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: #383E3E;
        margin-bottom: 25px;
    }
    .mobile-menu__content_ul_li {
        margin-bottom: 19px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #383E3E;
        position: relative;
        cursor: pointer;
    }
    .mobile-menu__content_ul_li_link {
        text-decoration: none;
        color: #383E3E;
    }
    .mt-40  {
        margin-top: 40px;
    }
    .mobile-menu__content_ul_li-in_span {
        position: relative;
    }
    .mobile-menu__content_ul_li-in_span::after {
        content: '';
        width: 20px;
        height: 10px;
        background:  url(../img/big-dd-Arr.png) center center / 100% 100%;
        margin-left: 10px;
        position: relative;
        top: -2px;
        display: inline-block;
        transition: .5s;
    }
    .mobile-menu__content_ul_li-in_span-checked.mobile-menu__content_ul_li-in_span::after {
        transform: rotate(180deg);
    }
    .mobile-menu__content_ul_li-in_ul {
        position: relative;
    }
    .mobile-menu__content_ul_li-in_span-checked ~ .mobile-menu__content_ul_li-in_ul__container{
        display: block;
    }
    .mobile-menu__content_ul_li-in_ul__container {
        padding-left: 10px;
        overflow: hidden;
        display: none;
    }
    .mobile-menu__content_ul_li-in:hover .mobile-menu__content_ul_li-in_ul {
        top: 0;
    }
    .mobile-menu__content_ul_li-in_ul_li_link {
        text-decoration: none;
        color: #383E3E;
    }
    .mobile-menu__content_ul_li-in_ul_li {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
        margin-bottom: 8px;
    }
    .main__slider {
        width: 620px;
        height: 360px;
    }
    .main__slider__item {
        height: 360px !important;
    }
    .main__slider__item_main {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }
    .main__slider__item_text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }
    .main__slider__item_button {
        width: 180px;
        height: 46px;
        margin-top: 28px;
    }
    .main__slider__item_text {
        margin-top: 8px;
    }
    .main__slider__item_button {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
    }
    .hits {
        margin-top: 53px;
        padding-bottom: 60px;
    }
    .section-main {
        margin-bottom: 31px;
        font-size: 36px;
        line-height: 42px;
    }
    .goods-row {
        flex-wrap: wrap;
    }
    .good-card {
        margin-top: 20px;
    }
    .good-card__top {
        width: 300px;
        height: 200px;
    }
    .good-card__bottom {
        width: 300px;
        height: 124px;
    }
    .good-card {
        width: 300px;
        height: 323px;
    }
    .show-all-btn {
        margin-top: 31px;
    }
    .why-we__cards {
        flex-wrap: wrap;
    }
    .why-we__cards_card {
        width: calc(50% - 10px);
        margin-right: 0;
    }
    .why-we__cards_form {
        width: calc(50% - 10px);
        top: 225px;
    }
    .why-we__cards_card:nth-child(3) {
        margin-top: 28px;
    }
    .why-we {
        padding-top: 32px;
        padding-bottom: 161px;
    }
    .right-form_text {
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .right-form_input {
        margin-bottom: 25px;
    }
    .novice {
        padding-top: 54px;
        padding-bottom: 52px;
    }
    .promo {
        padding-bottom: 60px;
    }
    .good-card__mask {
        display: none !important;
    }
    .good-card__bottom {
        position: relative;
    }
    .good-card__bottom__mobile-container {
        display: block;
        position: absolute;
        left: 20px;
        display: flex;
        bottom: 20px;
    }
    .good-card__bottom__mobile-container_item1 {
        background: url(../img/sravn.png) no-repeat center center / 100% 100%;
        width: 23px;
        height: 16px;
        margin-right: 11px;
    }
    .good-card__bottom__mobile-container_item1-checked {
        background: url(../img/sravn-red.png) no-repeat center center / 100% 100%;
    }
    .good-card__bottom__mobile-container_item2 {
        background: url(../img/favoritesicon.png) no-repeat center center / 100% 100%;
        width: 19px;
        height: 16px;
        margin-right: 11px;
    }
    .good-card__bottom__mobile-container_item2-checked {
        background: url(../img/favoritesicon-red.png) no-repeat center center /100% 100%;
    }
    .good-card__bottom__mobile-container_item3 {
        background: url(../img/cart.png) no-repeat center center / 100% 100%;
        width: 18px;
        height: 16px;
    }
    .good-card__bottom__mobile-container_item3-checked {
        background: url(../img/cart-black.png)  no-repeat center center / 100% 100%;
    }
    .good-card__bottom_text {
        top: 39px;
    }
    .good-card__bottom_old-price {
        display: none;
    }
    .brands {
        padding-top: 25px;
        padding-bottom: 60px;
    }
    .brands-slider__item_img {
        width: 300px;
        height: 140px;
    }
    .news-cards {
        flex-wrap: wrap;
    }
    .about-shop {
        padding-top: 53px;
    }
    .news {
        padding-top: 46px;
        padding-bottom: 60px;
    }
    .news-cards__card {
        width: 300px;
        height: 337px;
    }
    .news-cards__card:nth-child(n+3) {
        margin-top: 20px;
    }
    .news-cards__top {
        width: 100%;
        height: 200px;
    }
    .footer-column1 {
        width: 100%;
    }
    .footer__container {
        flex-wrap: wrap;
    }
    .footer-column1 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 28px;
    }
    .footer-column2 {
        order: 2;
    }
    .footer-column3 {
        order: 3;
    }
    .footer-column4 {
        order: 6;
        margin-right: 38px;
    }
    .footer-column5 {
        order: 7;
        margin-right: auto;
    }
    .footer-column6 {
        order: 5;
    }
    /*БЛОГ*/
    .news2 {
        padding-top: 0;
    }
    .bread {
        margin-bottom: 35px;
    }
    .top-page {
        padding-top: 16px;
        padding-bottom: 30px;
    }
    .section-sub-main {
        margin-bottom: 37px;
        font-size: 24px;
        line-height: 20px;
    }
    .promo-border {
        padding-top: 50px;
    }
    /*БЛОГ*/
    /*Бренды*/
    .brands-page__container__card {
        width: 300px;
    }
    .brands-page__container__card:nth-child(n + 3) {
        margin-top: 40px;
    }
    .brands-page {
        padding-bottom: 60px;
    }
    /*Бренды*/
    /*Оплата*/
    .payment__container {
        flex-direction: column;
    }
    .payment__container__right {
        align-self: center;
        margin-top: 60px;
    }
    .payment {
        padding-bottom: 60px;
    }
    /*Оплата*/
    /*Доставка*/
    .delivery__container {
        flex-direction: column;
    }
    .delivery__container__left {
        width: 100%;
    }
    .delivery {
        padding-bottom: 60px;
    }
    /*Доставка*/
    /*Контакты*/
    .contacts__container {
        flex-direction: column;
    }
    .payment__container__right3 {
        display: none;
    }
    .payment__container__right4 {
        display: block;
    }
    .contacts__container_map {
        width: 100%;
        height: 480px;
        margin-top: 40px;
    }
    .contacts {
        padding-bottom: 60px;
    }
    /*Контакты*/
    /*Сравнение*/
    .comparison {
        display: none;
    }
    .comparison__mobile {
        display: block;
    }
    .comparison__mobile__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .comparison__mobile__container:nth-child(n+3) {
        margin-top: 20px;
    }
    .good-card-cross {
        width: 20px;
        height: 20px;
    }
    .comparison__container__content_left_hide {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .comparison__mobile__container__description_ul {
        width: 100%;
    }
    .comparison__mobile__container__description {
        width: 100%;
    }
    .comparison__mobile__container__description_ul_li {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 40px;
        color: #383E3E;
        width: 100%;
        border: 1px solid #B8B8B8;
    }
    .comparison__mobile__container__description_ul .comparison__mobile__container__description_ul_li:first-child {
        border: 1px solid #B8B8B8;
    }
    .comparison__mobile__container__description_ul .comparison__mobile__container__description_ul_li:last-child {
        border: 1px solid #B8B8B8;
    }
    .comparison__mobile__container__description_ul_li:nth-child(even) {
        border-top: none;
        border-bottom: none;
    }
    .comparison__mobile__container__description_ul_li-sb {
        justify-content: space-between;
    }
    .comparison__mobile__container__description_ul_li_span {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 12px;
        color: #383E3E;
    }
    .comparison__mobile__container__description_ul_li_stars {
        display: flex;
        height: 100%;
        align-items: center;
    }
    .comparison__mobile__container__description_ul:nth-child(n+2) {
        margin-top: 20px;
    }
    .comparison__mobile__container__description_ul_li_span-right {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .comparison__mobile {
        padding-bottom: 60px;
    }
    /*Сравнение*/
    /*Избранное*/
    .favourites {
        padding-bottom: 60px;
    }
    /*Избранное*/
    /*Корзина*/
    .cart-container__ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .cart-container__ul_li {
        width: 300px;
        height: auto;
        display: block;
        position: relative;
        min-height: 336px;
    }
    .cart-container__ul_li_img {
        width: 100%;
        height: 180px;
    }
    .cart-container__ul_li_description_main {
        margin-left: 20px;
        margin-top: 17px;
    }
    .cart-container__ul_li_description_p {
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
    }
    .cart-container__ul_li_ga {
        left: 20px;
        top: 20px;
        position: absolute;
        z-index: 1;
    }
    .cart-container__ul_li_description_p-b {
        display: none;
    }
    .cart-container__ul_li_cross {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1;
        margin-right: 0;
    }
    .cart-container__ul_li_counter {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }
    .cart-container__ul_li_price {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 28px;
    }
    .cart-container__ul_li:nth-child(n+2) {
        margin-top:0;
    }
    .cart-container__ul_li:nth-child(n+3) {
        margin-top: 20px;
    }
    .order-registration__container {
        flex-wrap: wrap;
    }
    .order-registration__container__textarea {
        margin-top: 20px;
    }
    .order-registration__container__right {
        margin-top: 20px;
    }
    .order-registration__btn {
        margin-left: auto;
        margin-right: auto;
    }
    .order-registration__container__left-inputs_input {
        width: 300px;
    }
    .order-registration__container__left-dds_dd {
        width: 300px;
    }
    .order-registration__container__textarea {
        width: 300px;
    }
    .order-registration__container__right {
        width: 300px;
    }
    .order-registration__container__right_total {
        width: 300px;
    }
    .order-registration {
        padding-bottom: 60px;
    }
    /*Корзина*/
    /*Хиты*/
    .hits-page__columns__right {
        justify-content: space-between;
    }
    .hits-page__columns__right .good-card {
        margin-right: 0;
    }
    .hits-page__columns__right .good-card:nth-child(3n + 3) {
        margin-right: 0;
    }
    .hits-page__container-top {
        margin-left: 0;
    }
    .hits-page__container-top_filter_btn {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 12px;
        color: #383E3E;
        cursor: pointer;
        border: none;
        background: none;
        padding: 0;
        margin-top: 10px;
    }
    .hits-page__columns {
        padding-bottom: 60px;
    }
    .hits-page__columns__left-column {
        width: 100%;
        margin-right: 0;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 2000000;
        display: none;
        flex-wrap: wrap;
        padding-bottom: 40px;
        justify-content: center;
        align-items: flex-start;
        overflow-y: auto;
        max-height: 100vh;
    }
    .hits-page__columns__left-column_category-filter {
        width: 300px;
    }
    .hits-page__columns__left-column_category-filter {
        align-self: flex-start;
        margin-top: 10px !important;
        margin-left: 10px;
        margin-right: 10px;
    }
    .hits-page__columns__left-column_cross {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    .hits-page__columns__left-column_category-filter_ul_li_input:checked ~ .hits-page__columns__left-column_category-filter_ul_li_radio-span {
        width: 16px;
        height: 16px;
        max-width: 16px;
        max-height: 16px;
    }
    .hits-page__columns__left-column_category-filter_color-flex_color {
        width: 16px;
        height: 16px;
        margin-right: -1px;
    }
    .good-cart__container__left_slider_img {
        height: 360px;
        width: 100% !important;
    }
    .good-card-btn-next {
        right: -30px;
    }
    .good-card-btn-prev {
        left: -30px;
    }
    /*Хиты*/
    /*Карточка товара*/
    .good-cart__container {
        flex-direction: column;
    }
    .good-cart__container__left_slider-bottom {
        display: none;
    }
    .good-cart__container__left_slider {
        width: 620px;
        margin: 0 auto;
        height: 360px;
    }
    .good-cart__container__right {
        padding: 19px;
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
        position: relative;
    }
    .good-cart__container__stars-block {
        position: absolute;
        top: 19px;
        right: 19px;
        margin-top: 0;
    }
    .good-cart__container__right_top_presence {
        margin-right: 135px;
        align-self: flex-start;
    }
    .good-cart__container__color-stars-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 36px;
    }
    .good-cart__container__price {
        margin-top: 0;
    }
    .good-cart__container__sub-main {
        margin-top: 0;
    }
    .good-cart__container__price {
        align-self: flex-end;
    }
    .good-cart__container__btns {
        flex-direction: row-reverse;
        margin-top: 35px;
    }
    .good-cart__container__btns_to-card {
        margin-right: 0;
        margin-left: 24px;
    }
    .good-cart__container__btns_to-card-fav {
        margin-left: 24px;
        margin-right: 0;
    }
    .good-cart__container__bottom {
        display: flex;
        justify-content: flex-end;
    }
    .good-cart__page {
        padding-bottom: 24px;
    }
    .good-description__container_description {
        padding: 32px 20px;
        font-size: 18px;
        line-height: 24px;
        min-height: auto;
    }
    .good-description {
        padding-bottom: 60px;
    }
    .good-description__container_description_ul_li_left-span {
        font-size: 18px;
        line-height: normal;
    }
    .good-description__container_description_ul_li_left {
        width: 440px;
    }
    .good-description__container_description_ul_li_left-span-hr {
        margin-top: 27px;
    }
    .good-description__container_description_ul_li_right {
        line-height: normal;
        font-size: 12px;
        position: relative;
        top: 9px;
    }
    .good-description__container_description_ul_li_right-colors-img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
    .good-description_next-page {
        margin-top: 32px;
    }
    .good-description__container_description_form {
        width: 100%;
    }
    .good-description__container_description_old-comments_li {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /*Карточка товара*/
    /*Новости*/
    .news-cards__card:nth-child(n+3) {
        margin-top: 0;
    }
    .news-cards2 .news-cards__card {
        margin-right: 0;
    }
    .news-cards2 {
        justify-content: space-between;
    }
    .news-cards2 .news-cards__card:nth-child(n+3) {
        margin-top: 20px;
    }
    .news-page {
        padding-bottom: 60px;
    }
    /*Новости*/
    /*Конкретная новость*/
    .specific-news-top .bread {
        top: 16px;
        left: calc(50% - 310px)
    }
    .specific-news-top_main {
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
        color: #383E3E;
        top: 70px;
        left: calc(50% - 310px);
    }
    .specific-news-top_date {
        left: calc(50% - 310px);
        top: 120px;
        font-size: 18px;
        line-height: 21px;
    }
    .specific-news-top__article_text {
        width: 460px;
    }
    .specific-news-top__article_text_main {
        line-height: 24px;
    }
    .specific-news-top__article_text_p {
        font-size: 18px;
        line-height: 24px;
    }
    .specific-news-top__article {
        padding-bottom: 60px;
        padding-top: 40px;
    }
    /*Конкретная новость*/
    /*Личный кабинет*/
    .personal-top__container {
        position: relative;
    }
    .personal-top__container_img {
        margin-right: 32px;
    }
    .personal-top__container_name {
        font-size: 24px;
        line-height: 28px;
    }
    .personal-top__container_logout {
        top: -60px;
        right: 0;
        position: absolute;
    }
    .personal-bottom__container_content {
        flex-direction: column;
    }
    .personal-bottom__container_content__left {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        width: 100%;
        justify-content: space-between;
    }
    .personal-bottom__container_content__left_li {
        border: 1px solid #B8B8B8 !important;
        width: 300px;
    }
    .personal-bottom__container__main2 {
        display: block;
    }
    .personal-bottom__container__main1 {
        display: none;
    }
    .personal-bottom__container__main {
        margin-left: 0;
        margin-top: 28px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #383E3E;
    }
    .personal-bottom__container_content__right1 {
        display: flex;
        justify-content: space-between;
    }
    .personal-bottom__container_content__right__check {
        margin-right: 0;
        width: 300px;
    }
    .personal-bottom__container_content__right__personal-data_ul_li {
        width: 300px;
        height: 60px;
        padding: 9px 10px 9px 20px;
    }
    .personal-bottom__container_content__right__personal-data_ul_li_main {
        font-size: 12px;
        line-height: 14px;
    }
    .personal-bottom__container_content__right__personal-data_ul_li_input {
        font-size: 14px;
        line-height: 16px;
        margin-top: 11px;
        height: 19px;
    }
    .personal-bottom__container_content__right__personal-data_ul_li_input-span-text {
        font-size: 14px;
        line-height: 16px;
    }
    .personal-bottom__container_content__right__personal-data_ul_li_input-span {
        width: 16px;
        height: 16px;
    }
    .personal-bottom__container_content__right__personal-data_ul_li label {
        margin-top: 11px;
    }
    .personal-bottom__container_content__right__personal-data_ul_li-btn {
        padding-top: 76px;
    }
    .personal-bottom__container_content__right4_main {
        width: 620px !important;
    }
    .personal-bottom__container_content__right {
        padding-bottom: 60px;
    }
    .personal-bottom__container_content__right__personal-data_ul2 {
        margin-top: -1px;
    }
    .personal-bottom__container_content__right__personal-data_ul_li-btn {
        padding-top: 20px;
    }
    .personal-bottom__container_content__right__personal-data_ul_li-btn_btn {
        margin-left: auto;
        margin-right: auto;
    }
    .personal-bottom__container_content__right4_main {
        width: 280px !important;
        font-size: 18px !important;
        padding-left: 20px !important;
    }
    .personal-bottom__container_content__right4_sub-main {
        font-size: 14px;
        line-height: normal;
    }
    .personal-bottom__container_content__right4_main_content {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .personal-bottom__container_content__right4_text {
        font-size: 12px;
        line-height: 14px;
    }
    /*Личный кабинет*/
    /*Модалка на главной*/
    .good-modal__content {
        width: 620px;
        flex-direction: column;
    }
    .good-modal__content__left {
        width: auto;
    }
    .good-modal__content__left {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .good-modal__content__right_top {
        padding-top: 0;
        width: 100%;
    }
    .good-modal__content__right {
        padding-left: 60px;
        padding-right: 60px;
    }
    .good-modal__content__right_text {
        width: 100%;
    }
    .good-modal__content__right_top_main {
        width: 270px;
    }
    .good-modal__content__right_category-main {
        width: 100%;
    }
    .good-modal__content__right__bottom .cart-container__ul_li_counter {
        position: static;
    }
    .good-modal__content__right__bottom {
        margin-right: 0;
    }
    .good-modal__content__right_price {
        padding-right: 0;
    }
    .div-for-select {
        left: 20px;
        top: 12px;
    }
    .div-for-select__ul {
        left: 0;
        top: 20px;
    }
    /*Модалка на главной*/
}
@media screen and (max-width: 730px) {
    .wrapper {
        width: 280px;
    }
    .header-top {
        height: 40px;
    }
    .header-top_logo {
        width: 60px;
    }
    .header__bottom-container__right_search-mobile {
        height: 20px;
        width: 145px;
        margin-right: auto;
        margin-left: auto;
        -webkit-background-size: 15px 15px;
        background-size: 15px 15px;
    }
    .mobile-menu__content__cross {
        width: 22px;
        height: 22px;
        top: 8px;
        right: 22px;
    }
    .mobile-menu__content {
        padding-top: 47px;
        padding-bottom: 47px;
    }
    .mobile-menu__content_main {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 12px;
    }
    .mobile-menu__content_ul_li-in_span {
        font-size: 16px;
        line-height: 19px;
    }
    .mobile-menu__content_ul_li{
        margin-bottom: 8px;
    }
    .mobile-menu__content_ul_li_link {
        font-size: 16px;
        line-height: 19px;
    }
    .mobile-menu__content_ul_li-in_span::after {
        width: 12px;
        height: 6px;
        margin-left: 5px;
    }
    .hamburger {
        width: 36px;
        height: 22px;
    }
    .mobile-menu__content_ul_li-in_ul_li_link {
        font-size: 14px;
        line-height: 14px;
    }
    .mobile-menu__content_ul_li {
        font-size: 16px;
        line-height: 19px;
    }
    .header__bottom-container__right_label_img {
        width: 22px;
        height: 16px;
        margin-right: 4px;
    }
    .header__bottom-container__right_label_img2 {
        width: 18px;
        height: 16px;
    }
    .header__bottom-container__right_label_img3 {
        width: 16px;
        height: 16px;
    }
    .header__bottom-container__right_label_text {
        font-size: 10px;
        line-height: 12px;
    }
    .header__bottom-container__right_label_text_span {
        white-space: nowrap;
    }
    .main__slider {
        margin-top: 20px;
    }
    .main__slider {
        width: auto;
        height: auto;
    }
    .main__slider__item {
        min-height: 260px;
        display: flex !important;
        align-items: center;
        height: 400px !important;
    }
    .main__slider__item__img {
        height: 100% !important;
        min-height: 260px;
    }
    .main__slider__item_main {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
    .main__slider__item_text {
        font-size: 12px;
        line-height: 14px;
        text-align: center;
    }
    .main__slider__item_button {
        display: none;
    }
    .main-mobile-btn {
        margin-top: 20px;
        width: 240px;
        height: 46px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        background: #383E3E;
        cursor: pointer;
        border: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .main-slider-prev {
        background: transparent url(../img/mobile-prev.png) no-repeat center center / 100% 100%;
        left: 12px;
        width: 9px;
        height: 21px;
        top: calc(50% - 5px);
    }
    .main-slider-next {
        background: transparent url(../img/mobile-prev.png) no-repeat center center / 100% 100%;
        right: 12px;
        width: 9px;
        height: 21px;
        top: calc(50% - 5px);
    }
    .header__bottom-container__right_label_img-counter {
        font-size: 9px;
        top: -13px;
        left: 13px;
    }
    .section-main {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 22px;
    }
    .hits {
        margin-top: 35px;
        padding-bottom: 40px;
    }
    .hits-main {
        margin-bottom: 0;
    }
    .good-card {
        margin-top: 20px;
        width: 280px;
        height: 300px;
    }
    .good-card__top {
        width: 280px;
        height: 180px;
    }
    .good-card__bottom {
        width: 280px;
    }
    .why-we__cards {
        flex-direction: column;
    }
    .why-we__cards_card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 15px;
    }
    .why-we__cards_card_img {
        align-self: center;
    }
    .why-we {
        padding-top: 23px;
    }
    .why-we__cards {
        margin-top: 0;
    }
    .why-we__cards_card_main {
        margin-top: 4px;
        margin-bottom: 0;
    }
    .right-form_main {
        font-size: 18px;
        line-height: 31px;
    }
    .why-we__cards_form {
        width: 100%;
        bottom: 20px;
        top: auto;
    }
    .why-we {
        padding-bottom: 0;
    }
    .why-we__cards {
        padding-bottom: 315px;
    }
    .right-form_input {
        width: 220px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .right-form_btn {
        width: 220px;
        height: 46px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .promo-main {
        margin-bottom: 0;
    }
    .novice-main {
        margin-bottom: 0;
    }
    .promo {
        padding-bottom: 35px;
    }
    .novice {
        padding-bottom: 35px;
        padding-top: 35px;
    }
    .brands .wrapper {
        width: 100%;
    }
    .header__bottom {
        height: 40px;
    }
    .brands-slider {
        width: 100%;
    }
    .slick-slide {
        width: 100%;
    }
    .brands-slider__item_img {
        width: 100%;
        height: auto;
    }
    .brands-slider-prev {
        background: transparent url(../img/mobile-prev.png) no-repeat center center / 100% 100%;
        left: 12px;
        width: 9px;
        height: 21px;
        top: calc(50% - 5px);
    }
    .brands-slider-next {
        background: transparent url(../img/mobile-prev.png) no-repeat center center / 100% 100%;
        right: 12px;
        width: 9px;
        height: 21px;
        top: calc(50% - 5px);
    }
    .brands-main {
        width: 280px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .brands {
        padding-top: 24px;
        padding-bottom: 40px;
    }
    .about-shop {
        padding-top: 35px;
        padding-bottom: 28px;
    }
    .news-cards__card {
        margin-top: 20px !important;
    }
    .news .news-cards__card:first-child {
        margin: 0 !important;
    }
    .news-main {
        margin-bottom: 0;
    }
    .news {
        padding-top: 0;
        padding-bottom: 40px;
    }
    .footer-column_main {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 12px;
    }
    .footer-column-lists__li_link {
        font-size: 12px;
        line-height: 14px;
    }
    .footer-column-lists__li {
        margin-bottom: 10px;
    }
    .footer-column1 img {
        width: 76px;
        height: auto;
    }

    .footer-column2 {
        order: 1;
    }
    .footer-column6 {
        order: 3;
        top: -25px;
        position: relative;
    }
    .footer-column5 {
        order: 4;
        margin-top: 25px;
    }
    .footer-column__social-container_img {
        width: 36px;
        height: 36px;
        margin-right: 12px;
        margin-bottom: 12px;
    }
    .footer-column__social-container {
        display: flex;
        width: 96px;
        flex-wrap: wrap;
    }
    .footer-column {
        max-width: 50%;
    }
    .footer-column1 {
        max-width: 100%;
    }
    .footer {
        padding-top: 28px;
        padding-bottom: 38px;
    }
    .footer-column4 {
        max-width: none;
    }
    .login-popup-content {
        padding-left: 0;
        width: 100%;
        left: 0;
    }
    .login-popup-content__main {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 220px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .login-popup__input {
        width: 220px;
        margin-left: auto;
        margin-right: auto;
    }
    .login-popup__btn {
        width: 220px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 20px;
    }
    .login-popup-content__no-acc {
        display: block;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    .fogot-pass {
        top: 300px;
        right: calc(50% - 12px);
    }
    .popup_cross {
        right: 5px;
        top: 5px;
    }
    .login-popup-content {
        height: 360px;
        top: calc(50% - 160px);
    }
    .reg-popup .login-popup__input {
        margin-bottom: 20px;
    }
    .reg-popup-content {
        width: 100%;
        left: 0;
        padding-left: 0;
        height: 330px;
        top: calc(50% - 165px);
    }
    /*Блог*/
    .section-sub-main {
        font-size: 18px;
        line-height: 12px;
        margin-bottom: 20px;
    }
    .top-page {
        padding-top: 8px;
        padding-bottom: 23px;
    }
    .bread {
        margin-bottom: 15px;
    }
    .promo-border {
        padding-top: 35px;
    }
    /*Блог*/
    /*Бренды*/
    .brands-page__container__card:nth-child(n + 2) {
        margin-top: 20px;
    }
    .brands-page__container__card_main {
        font-size: 16px;
        margin-top: 7px;
    }
    .brands-page__container__card_btn {
        margin-top: 13px;
    }
    .brands-page {
        padding-bottom: 36px;
    }
    /*Бренды*/
    /*Оплата*/
    .bread__ul_li_link {
        font-size: 10px;
    }
    .payment__container__left_p_container_img {
        width: 33px;
        height: 24px;
        margin-right: 8px;
    }
    .payment__container__left_p {
        font-size: 18px;
    }
    .payment__container__left_p_container {
        margin-bottom: 18px;
    }
    .payment__container__left_p_light {
        font-size: 18px;
    }
    .payment__container__left_images_img {
        margin-right: 12px;
    }
    .payment__container__left_images_img:nth-child(n + 3) {
        margin-top: 12px;
    }
    .payment__container__left_images {
        flex-wrap: wrap;
        margin-top: 15px;
    }
    .payment__container__left_images_img1 {
        width: 98px;
        height: 32px;
    }
    .payment__container__left_images_img2 {
        width: 53px;
        height: 32px;
    }
    .payment__container__left_images_img3 {
        width: 121px;
        height: 32px;
    }
    .payment__container__left_images_img4 {
        width: 87px;
        height: 32px;
    }
    .payment__container__right {
        margin-top: 31px;
    }
    .payment__container__right {
        width: 220px;
    }
    .payment__container__right_h2 {
        font-size: 16px;
    }
    .payment__container__right_p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 11px;
    }
    .payment__container__right_input {
        width: 100%;
    }
    .payment__container__right_btn {
        width: 100%;
    }
    .payment {
        padding-bottom: 40px;
    }
    .delivery__container_p {

    }
    /*Оплата*/
    /*Доставка*/
    .delivery {
        padding-bottom: 40px;
    }
    .payment__container__left_p_container_img2 {
        width: 21px;
        height: 24px;
    }
    .delivery__container_p {
        font-size: 12px;
        line-height: 16px;
    }
    .delivery__container .delivery__container_p {
        margin-bottom: 10px;
    }
    .payment__container__left_p_container:not(:first-child) {
        margin-top: 25px;
    }
    /*Доставка*/
    /*Контакты*/
    .contacts__container__left_city-choose_city {
        font-size: 18px;
        line-height: 21px;
    }
    .contacts__container__left_city-choose-content_li {
        font-size: 12px;
    }
    .contacts__container__left_city-choose-content {
        top: 20px;
    }
    .contacts__container__left_city-choose_link {
        font-size: 12px;
        line-height: 14px;
    }
    .contacts__container__left_city-choose_link_first {
        margin-top: 40px;
    }
    .contacts__container__left_city-choose_p {
        font-size: 12px;
        line-height: 14px;
        height: 25px;
        margin-top: 10px;
    }
    .contacts__container__left_city-choose__soscial_link_img {
        width: 36px;
        height: 36px;
    }
    .contacts__container__left_city-choose__soscial_link {
        margin-right: 12px;
    }
    .contacts__container__left_city-choose__soscial {
        margin-top: 18px;
    }
    .contacts__container_map {
        margin-top: 20px;
        height: 200px;
    }
    .contacts {
        padding-bottom: 40px;
    }
    /*Сравнение*/
    .comparison__mobile__container__description_ul_li_span {
        font-size: 12px;
        line-height: 12px;
    }
    .comparison__mobile__container__description_ul_li {
        padding-left: 10px;
        padding-right: 10px;
    }
    .comparison__mobile__container__description_ul_li .comparison__container__content_right_ul_li-stars_star {
        width: 15px;
        height: 15px;
        margin-right: 1px;
    }
    .comparison__mobile {
        padding-bottom: 40px;
    }
    /*Сравнение*/
    /*Избранное*/
    .favourites {
        padding-bottom: 40px;
    }
    /*Избранное*/
    /*Корзина*/
    .cart-container__ul_li:nth-child(n+2) {
        margin-top: 20px;
    }
    .cart-container__ul_li_counter_btn {
        height: 30px;
        width: 30px;
    }
    .amount {
        width: 30px;
        height: 30px;
    }
    .order-registration__container__left-dds {
        margin-top: 20px;
    }
    .order-registration__container__left-inputs_input {
        width: 100%;
    }
    .order-registration__container__left-inputs {
        width: 100%;
    }
    .order-registration__container__left-dds {
        width: 100%;
    }
    .order-registration__container__left-dds_dd {
        width: 100%;
    }
    .order-registration__container__right {
        width: 100%;
    }
    .order-registration__container__right_total {
        width: 100%;
    }
    .order-registration__btn {
        width: 220px;
        height: 45px;
        margin-top: 20px;
    }
    .cart-container__ul_li_description_main {
        margin-left: 10px;
        font-size: 16px;
        line-height: 18px;
        margin-right: 10px;
    }
    .cart-container__ul_li_description_p {
        font-size: 10px;
        line-height: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .cart-container__ul_li_counter {
        left: 10px;
        bottom: 10px;
    }
    .cart-container__ul_li_price {
        right: 10px;
        bottom: 10px;
    }
    /*Корзина*/
    /*Хиты*/
    .hits-page__container-top {
        flex-wrap: wrap;
    }
    .filter-item {
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 12px;
    }
    .hits-page__container-top_filter_btn {
        margin-top: 5px;
    }
    .hits-page__container-right_dd_ul {
        background-color: #fff;
    }
    .filter-item-container__cross {
        width: 16px;
        height: 16px;
        margin-left: 3px;
        position: relative;
        top: -2px;
    }
    .hits-page__columns__left-column_category-filter {
        padding: 9px;
        width: 130px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
    }
    .hits-page__columns__left-column_category-filter_ul_li_text {
        font-size: 12px;
        line-height: 12px;
    }
    .hits-page__columns__left-column_category-filter_ul_li {
        margin-top: 5px;
    }
    .hits-page__columns__left-column_category-filter_main {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 12px;
    }
    .hits-page__columns__left-column_category-filter_range {
        width: 90%;
        margin: 0 auto;
    }
    .hits-page__columns__left-column_category-filter_input {
        width: 55px;
        height: 28px;
        font-size: 12px;
        line-height: 12px;
        padding-left: 2px;
        padding-right: 2px;
    }
    .hits-page__columns__left-column_category-filter_ul_li_radio-span {
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
        margin-right: 3px;
    }
    .hits-page_show-all-btn_span {
        font-size: 12px;
    }
    .hits-page__columns__left-column_cross {
        width: 20px;
        height: 20px;
    }
    /*Хиты*/
    /*Карточка товара*/
    .good-cart__page .wrapper {
        width: auto;
    }
    .good-cart__container__left_slider {
        width: 100% ;
        height: 360px;
    }
    .good-cart__container__left_slider_img {
        height: 360px;
    }
    .good-card-btn-prev {
        top: calc(50% - 11px);
        height: 22px;
        width: 10px;
        left: 12px;
        background: url(../img/black-arr.png) no-repeat center center / 100% 100%;
        z-index: 1;
    }
    .good-card-btn-next {
        top: calc(50% - 11px);
        height: 22px;
        width: 10px;
        right: 12px;
        background: url(../img/black-arr.png) no-repeat center center / 100% 100%;
        z-index: 1;
    }
    .good-cart__container__right_top_main {
        font-size: 18px;
    }
    .good-cart__container__right {
        padding: 20px 8px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    .good-cart__container__stars-block {
        top: 20px;
        right: 8px;
    }
    .good-cart__container__stars-block_star {
        width: 12px;
        height: 12px;
        margin-right: 2px;
    }
    .good-cart__container__right_top_presence {
        margin-right: 0;
        top: 45px;
        right: 8px;
        position: absolute;
        font-size: 10px;
    }
    .good-cart__container__right_top_presence::before {
        content: url(../img/lga.png);
        margin-right: 5px;
    }
    .good-cart__container__brand-name {
        font-size: 12px;
        line-height: 20px;
        margin-top: 10px;
    }
    .good-cart__container__brand-description {
        font-size: 10px;
        line-height: 14px;
        margin-top: 10px;
    }
    .good-cart__container__color-stars-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .good-cart__container__color-container .good-cart__container__color-container_img{
        width: 20px;
        height: 20px;
        margin-right: 0;
        margin-top: 5px;
    }
    .good-cart__container__sub-main {
        font-size: 12px;
    }
    .good-cart__container__color-stars-container {
        margin-top: 15px;
    }
    .good-cart__container__price .good-card__bottom_price_roub {
        font-size: 32px;
        line-height: normal;
    }
    .good-cart__container__price .good-card__bottom_price_cop {
        font-size: 18px;
    }
    .good-cart__container__btns {
        position: relative;
        margin-top: 12px;
    }
    .good-cart__container__btns_to-card-fav {
        position: absolute;
        margin-left: 0;
        top: -40px;
        left: 65px;
        width: 24px;
        height: 20px;
    }
    .good-cart__container__btns_to-card-sr {
        position: absolute;
        margin-left: 0;
        top: -40px;
        left: 30px;
    }
    .good-cart__container__btns_to-card {
        margin-left: auto;
        margin-right: auto;
    }
    .good-cart__container__price {
        margin-right: 32px;
    }
    .good-cart__container__bottom {
        margin-top: 15px;
        justify-content: flex-start;
        margin-left: 37px;
    }
    .good-cart__container__bottom_link {
        font-size: 10px;
    }
    .good-cart__container__bottom_link1 {
        margin-right: 15px;
    }
    .good-cart__container__btns_to-card-sr {
        width: 29px;
        height: 20px;
    }
    .good-description__container__btns-block_btn {
        font-size: 12px;
        line-height: 12px;
        padding-bottom: 5px;
    }
    .good-description__container__btns-block_btn_comments-span {
        font-size: 12px;
        line-height: 12px;
        margin-left: 0;
    }
    .good-description__container__btns-block_btn:nth-child(2) {
        padding-left: 5px;
        padding-right: 5px;
    }
    .good-description__container__btns-block_btn:nth-child(1) {
        padding-left: 0;
        padding-right: 5px;
    }
    .good-description__container__btns-block_btn:nth-child(3) {
        padding-right: 0;
        padding-left: 5px;
    }
    .good-description__container_description {
        padding: 17px 10px;
        font-size: 12px;
        line-height: 16px;
    }
    .good-description_next-page {
        margin-top: 18px;
        font-size: 12px;
        line-height: 12px;
    }
    .good-description_next-page:after {
        content: url(../img/after-little.png);
        margin-left: 2px;
        position: relative;
        top: 2px;
    }
    .good-description__container_description_ul_li_left-span {
        font-size: 12px;
    }
    .good-description__container_description_ul_li_right {
        font-size: 10px;
        top: 0;
    }
    .good-description__container_description_ul_li_left {
        width: 148px;
    }
    .good-description__container_description_ul_li_left-span-hr {
        margin-top: 19px;
    }
    .good-description__container_description_ul_li_right-colors-img {
        width: 12px;
        height: 12px;
    }
    .good-description__container_description_ul_li_right-colors {
        top: -2px;
    }
    .good-description__container_description_textarea {
        padding: 17px 9px;
        font-size: 12px;
        height: 80px;
    }
    .good-description__container_description_form_btn {
        width: 220px;
        height: 46px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .good-description__container_description_stars {
        justify-content: center;
    }
    .good-description__container_description_old-comments_li_ava {
        width: 36px;
        height: 36px;
        margin-right: 8px;
    }
    .good-description__container_description_old-comments_li_center_name {
        font-size: 18px;
    }
    .good-description__container_description_old-comments_li_top_stars-star {
        width: 12px;
        height: 12px;
        margin-right: 2px;
    }
    .good-description__container_description_old-comments_li_center_text {
        font-size: 12px;
        line-height: 14px;
        margin-left: 45px;
        margin-top: 0;
    }
    .good-description__container_description_old-comments_li {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .good-description {
        padding-bottom: 40px;
    }
    /*Карточка товара*/
    /*Новости*/
    .news-cards2 .news-cards__card:first-child {
        margin-top: 0 !important;
    }
    .news-page {
        padding-bottom: 40px;
    }
    /*Новости*/
    /*Конкретная новость*/
    .specific-news-top .bread {
        top: 7px;
        left: calc(50% - 140px);
    }
    .specific-news-top_main {
        max-width: 100%;
        top: 35px;
        left: calc(50% - 140px);
        font-size: 24px;
        line-height: 28px;
    }
    .specific-news-top_date {
        left: calc(50% - 140px);
        font-size: 10px;
        line-height: 12px;
        top: 72px;
    }
    .specific-news-top__article {
        padding-bottom: 40px;
        padding-top:28px;
    }
    .specific-news-top__article_text_main {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-align: justify;
        color: #383E3E;
        margin-bottom: 5px;
    }
    .specific-news-top__article_text {
        width: 280px;
    }
    .specific-news-top__article_text_p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        text-align: justify;
        text-indent: 10px;
        color: #383E3E;
        margin-bottom: 5px;
    }
    .specific-news-top__article_text_img {
        margin-bottom: 14px;
    }
    .specific-news-top__article_social-left {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .specific-news-top__article_social-left_link {
        margin-top: 21px;
        margin-bottom: 28px;
    }
    /*Конкретная новость*/
    /*Личный кабинет*/
    .personal-top__container_img {
        width: 46px;
        height: 46px;
        margin-right: 12px;
    }
    .personal-bottom__container_content__right {
        width: 280px;
    }
    .personal-top__container_name {
        font-size: 12px;
        line-height: normal;
    }
    .personal-top__container_logout {
        font-size: 10px;
        line-height: 12px;
        top: -47px;
    }
    .personal-top__container_logout::after {
        content: url(../img/exit-mini.png);
        margin-left: 2px;
        top:3px;
    }
    .personal-bottom__container_content__left_li {
        width: 280px;
        font-size: 12px;
        line-height: 14px;
        padding: 9px 19px;
    }
    .personal-bottom__container_content__right__check:nth-child(n + 2) {
        margin-top: 20px;
    }
    .personal-bottom__container_content__right {
        padding-bottom: 40px;
    }
    .personal-bottom__container_content__right_discount-main {
        font-size: 20px;
        line-height: normal;
        margin-bottom: 8px;
    }
    .personal-bottom__container_content__right_discount-text {
        font-size: 12px;
        line-height: 14px;
    }
    .personal-bottom__container_content__right_discount-table_left_p {
        font-size: 12px;
        line-height: 14px;
        width: 49%;
    }
    .personal-bottom__container_content__right_discount-table_left {
        display: flex;
    }
    .personal-bottom__container_content__right_discount-table {
        width: 100%;
        flex-direction: column;
        padding: 15px 19px;
    }
    .personal-bottom__container_content__right_discount-table_right_span {
        padding-left: 0;
        padding-right: 0;
        font-size: 18px;
        border: none;
        width: auto;
        margin-top: 5px;
    }
    .personal-bottom__container_content__right_discount-table_right {
        display: flex;
    }
    .personal-bottom__container_content__right_discount-table_right_p {
        flex-direction: column;
        width: 50%;
    }
    .personal-bottom__container_content__right_discount-table_right-text-bottom {
        font-size: 12px;
        margin-top: 8px;
        line-height: normal;
    }
    .personal-bottom__container_content__right_discount-table_left {
        margin-right: 0;
    }
         /*Личный кабинет*/
    /*модалка на главной*/
    .good-modal__content {
        width: 100%;
    }
    .good-modal__content__left__slider {
        width: 260px;
    }
    .good-modal__content__right_top {
        flex-direction: column;
        width: 280px;
    }
    .good-modal__content__right_top_main {
        width: 280px;
    }
    .good-modal__content__right_top_right {
        justify-content: space-between;
        width: 280px;
        margin-top: 14px;
    }
    .good-modal__content__right_text {
        margin-top: 39px;
    }
    .good-modal__content__right_text {
        margin-bottom: 20px;
    }
    .good-modal__content__right_category__ul {
        display: block;
    }
    .good-modal__content__right_price {
        text-align: left;
    }
    .good-modal__content__right__bottom {
        flex-wrap: wrap;
    }
    .good-modal__content__right__bottom_btn {
        width: 100%;
        margin-top: 20px;
    }
    .cart-container__ul_li_counter_btn-main {
        height: 46px;
        width: 40px;
    }
    .cart-container__ul_li_counter_btn-amount {
        height: 46px;
        width: 40px;
    }
    /*модалка на главной*/
}
@media screen and (max-width: 630px) {
    .main__slider__item {
        height: 330px !important;
    }
}
@media screen and (max-width: 530px) {
    .main__slider__item {
        height: 280px !important;
    }
    .good-cart__container__left_slider {
        width: 100% ;
        height: 280px;
    }
    .good-cart__container__left_slider_img {
        height: 280px;
    }
}
@media screen and (max-width: 430px) {
    .main__slider__item {
        height: 250px !important;
    }
}
@media screen and (max-width: 380px) {
    .main__slider__item {
        height: 200px !important;
    }
}